body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: whitesmoke !important;
    /* background: #60a3bc !important; */
}

.card {
    margin: 0.5em;
    padding: 1em;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2em;
    padding-top: 2em;
    /* background: black !important; */
    /* width: 90%; */
}

.main-board {
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    padding: 2em;
    border-radius: 1em;
    background: #c8e6f1 !important;
}

.dashboard-sidebar {
    grid-column-start: 1/1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 1em;
    background-color: turquoise;
    /* padding: 2em; */
}

.brand-logo {
    padding: 1em;
}

.footer_main {
    background-color: white;
    padding: 2em;
    margin-top: 10em;
    margin-bottom: 0;
}