body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #c8e6f1 !important;
    /* background: #60a3bc !important; */
}


.footer_main {
    background-color: whitesmoke;
    padding: 2em;
    margin-top: 10em;
    margin-bottom: 0;
}