body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #c8e6f1 !important;
    /* background: #60a3bc !important; */
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: 5em; */
    /* background: #f39c12; */
    background: whitesmoke;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form-container {
    margin-top: 2em;
    background-color: whitesmoke;
    width: 100%;
    padding: 1em;
    margin-right: 2em;
}

/* .form-text {
    margin-top: 0 !important;
    padding-top: 0 !important;
} */

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

/* .input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
} */

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}



.app_component {
    display: grid;
    /* padding: 1em; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.5em;
    column-gap: 0.5em;
    justify-items: center;
    padding-top: 2em;

}

.row_one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2em;
    padding: 2em;
    column-gap: 1em;
}

.col_one_row_one {
    grid-column-start: span 1;
    grid-row-start: 1;
    padding: 1em;
    /* padding: 0 0 0 0.5em;
    margin-left: 0.5em; */
}

.col_two_row_one {
    grid-row-start: 1;
    grid-column-start: 2;
}

.col_three_row_one {
    grid-row-start: 1;
    grid-column-start: 3;
    padding: 1em;
}

.row_two {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5em 0 2em 0;
    background-color: white;
    width: 100%;
    /* justify-items: center; */
    text-align: center;
    padding: 2em 2em;
}

.row_three {
    padding: 1em;
    text-align: center;
}

.form-text {
    color: rgb(14, 195, 14);
}






.footer_main {
    background-color: whitesmoke;
    padding: 2em;
    margin-top: 10em;
    margin-bottom: 0;
}